.container {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid gainsboro;
    border-collapse: collapse;
}

td, th {
    padding: 7px;
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

img {
    width: 20px;
    height: 20px;
}