<div *ngIf="standings$ | async as standings; else loading">
    <table *ngIf="standings.length > 0; else NoData">
        <thead>
          <tr>
            <th *ngFor="let tableTitle of tableHeader">{{ tableTitle }}</th>
          </tr>  
        </thead>
        <tbody>
            <tr *ngFor="let standing of standings" [routerLink]="'/results/' + standing.team.id">
                <td>{{ standing.rank }}</td>
                <td><img [src]="standing.team.logo" [alt]="standing.team.name"  width="20" height="20"></td>
                <td>{{ standing.team.name }}</td>
                <td>{{ standing.all.played }}</td>
                <td>{{ standing.all.win }}</td>
                <td>{{ standing.all.lose }}</td>
                <td>{{ standing.all.draw }}</td>
                <td>{{ standing.goalsDiff }}</td>
                <td>{{ standing.points }}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #NoData>
        <h3> {{ NoDataText }} </h3>
    </ng-template>  
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>